<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
    
<body>

     <!-- Header -->
     <%- include('./partials/navbar.ejs') %>


    <%= JSON.stringify(result) %>

    <div class="form-container">
        <h2>Edit Your Information</h2>
        <form action="/edit" method="post" id="userForm" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" name="id" value="<%= result[0].id %>">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="<%= result[0].fullname %>" placeholder="Your name" >
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="<%= result[0].email %>" placeholder="Your email" >
            </div>
            
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="text" id="age" name="age" value="<%= result[0].age %>" placeholder="Your age"  min="1">
            </div>

            <div class="form-group">
                <label for="avarta">Avarta:</label>
                <img src="/upload/<%= result[0].avarta %>" width="150px" height="200px" alt="">
                <input type="file" id="avarta" name="avarta">
                <input type="hidden" name="old_img" value="<%= result[0].avarta %>">
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>
